<ion-content [fullscreen]="true">

  <div class="center">
    <ion-card>
      <img src="assets/logo.png" alt="logo"/>
      <ion-card-title class="ion-text-center">Videos App</ion-card-title>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>

      <ion-button (click)="login()" expand="full" fill="outline" color="primary">ENTRAR</ion-button>
      <ion-button expand="full" fill="clear" color="primary">REGISTRAR</ion-button>

    </ion-card>
  </div>

</ion-content>
